@media (min-width:1200px) and (max-width:1519px){
.hero {
    position: relative;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    flex-wrap: nowrap;
}
.hero-image {
    width: 450px;
    height: auto;
}
.hero-content {
    width: auto;
}
.small-text {
    font-size: 16px;
}
.hero-content h1 {
    font-size: 60px;
    line-height: 70px;
    padding-top: 0px;
    width: 526px;
}
.desc {
    color: #FFFFFFA1;
    line-height: 20px;
    font-size: 12px;
    padding-top: 40px;
    width:505px;
    padding-left: 100px;
}
.hero-buttons {
    display: flex;
    gap:20px;
    padding: 0px;
    margin-top: 75px;
    justify-content: center;
}
.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFFA1;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

}
.btn.primary {
  background: #958576;
  border: none;
}
.badge {
    bottom: 0px;
    left: 0px;
}
.stats {
    display: flex;
    gap: 30px;
    padding-top: 70px;
}
.stats h3 {
    font-size: 40px;
}
.stats p {
    color: #FFFFFFA1;
    font-size: 12px;
    padding-top: 27px;
    line-height: 20px;
}
.stats img{
    height: 110px;
    margin-left: -30px;
}

.stats .box{
    height: auto;
    margin-left: 5px;
    width: 130px;
}
.services {
    display: flex;
    width: 1200px;
    padding: 0px;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0 20px;
    margin: 0px;
}
.services h2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    color: #ffffff;
    width: 650px;
    margin-bottom: 50px;
}
.services .small {
    width: 473px;
    padding-top:0px;
    margin-left: 75px;
    margin-top: 90px;
}
.services p {
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.services .small p {
    font-size: 14px;
    line-height: 25px;
}
.service-cards {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}
.card {
    background: #FFFFFF0A;
    border-radius: 12px;
    text-align: left;
    transition: 0.3s;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.card p{
    margin-bottom: 30px;
}
.card h3{
    margin-left: 20px;
}
.footer{
    margin: 0 auto;
}
.footer-container {
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    border-bottom: 2px solid #FFFFFF26;
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #FFFFFF6B;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}
.tagline{
    margin-bottom: 25px;
}
.badge {
    bottom: 250px;
    left: 410px;
    padding:20px 30px;
    border-radius: 20px;
}
.badge h1 {
    font-size: 30px;
    margin-bottom: 12px;

}
.badge span{
    font-size: 14px
}
}


@media (min-width:992px) and (max-width:1199.98px){
    .navbar{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.logo img{
    width: 80px;
}
.nav-links {
    gap: 20px;
}
.nav-links a{
    font-size: 10px;
}
.social-icons {
    gap: 10px;
}
.social-icons a img {
    width: 20px;
    height: 20px;
}
.hero {
    position: relative;
    width: 768px;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    flex-wrap: nowrap;
}
.hero-image {
    width: 300px;
    height: auto;
}
.hero-content {
    width: 277px;
}
.small-text {
    font-size: 8px;
}
.hero-content h1 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0px;
    width: 277px;
}
.desc {
    color: #FFFFFFA1;
    line-height: 15px;
    font-size: 8px;
    padding-top: 0px;
    width:277px;
    padding-left: 0px;
}
.hero-buttons {
    display: flex;
    gap:5px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFFA1;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 8px;
    line-height: 0px;
    font-weight: 400;

}
.btn.primary {
  background: #958576;
  border: none;
}
.badge {
    bottom: 0px;
    left: 0px;
}
.stats {
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
.stats h3 {
    font-size: 20px;
}
.stats p {
    color: #FFFFFFA1;
    font-size: 10px;
    padding-top: 27px;
    line-height: 20px;
}
.stats img{
    height: 110px;
}
.stats .box{
    height: auto;
    margin-left: 5px;
}
.services {
    display: flex;
    width: 768px;
    padding: 0px;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0 20px;
}
.services h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
    width: 200px;
}
.services .small {
    width: 473px;
    padding-top:0px;
    margin-left: 200px;
    margin-top: 35px;
}
.services .small p {
    font-size: 10px;
    line-height: 15px;
}
.service-cards {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: #FFFFFF0A;
    border-radius: 12px;
    text-align: left;
    transition: 0.3s;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.card p{
    margin-bottom: 30px;
}
.card h3{
    margin-left: 20px;
}
.footer{
    margin: 0 auto;
}
.footer-container {
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    border-bottom: 2px solid #FFFFFF26;
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #FFFFFF6B;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.tagline{
    margin-bottom: 25px;
}
.badge {
    bottom: 240px;
    left: 280px;
    padding: 4px 8px;
    border-radius: 10px;
}
.badge h1 {
    font-size: 20px;

}
.badge span{
    font-size: 12px
}
}


@media (min-width:768px) and (max-width:991.98px){
.navbar{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.logo img{
    width: 80px;
}
.nav-links {
    gap: 20px;
}
.nav-links a{
    font-size: 10px;
}
.social-icons {
    gap: 10px;
}
.social-icons a img {
    width: 20px;
    height: 20px;
}
.hero {
    position: relative;
    width: 768px;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    flex-wrap: nowrap;
}
.hero-image {
    width: 300px;
    height: auto;
}
.hero-content {
    width: 277px;
}
.small-text {
    font-size: 8px;
}
.hero-content h1 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0px;
    width: 277px;
}
.desc {
    color: #FFFFFFA1;
    line-height: 15px;
    font-size: 8px;
    padding-top: 0px;
    width:277px;
    padding-left: 0px;
}
.hero-buttons {
    display: flex;
    gap:5px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFFA1;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 8px;
    line-height: 0px;
    font-weight: 400;

}
.btn.primary {
  background: #958576;
  border: none;
}
.badge {
    bottom: 0px;
    left: 0px;
}
.stats {
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
.stats h3 {
    font-size: 20px;
}
.stats p {
    color: #FFFFFFA1;
    font-size: 10px;
    padding-top: 27px;
    line-height: 20px;
}
.stats img{
    height: 110px;
}
.stats .box{
    height: auto;
    margin-left: 5px;
}
.services {
    display: flex;
    width: 768px;
    padding: 0px;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0 20px;
}
.services h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
    width: 200px;
}
.services .small {
    width: 473px;
    padding-top:0px;
    margin-left: 200px;
    margin-top: 35px;
}
.services .small p {
    font-size: 10px;
    line-height: 15px;
}
.service-cards {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: #FFFFFF0A;
    border-radius: 12px;
    text-align: left;
    transition: 0.3s;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.card p{
    margin-bottom: 30px;
}
.card h3{
    margin-left: 20px;
}
.footer{
    margin: 0 auto;
}
.footer-container {
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    border-bottom: 2px solid #FFFFFF26;
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #FFFFFF6B;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.tagline{
    margin-bottom: 25px;
}
.badge {
    bottom: 240px;
    left: 280px;
    padding: 4px 8px;
    border-radius: 10px;
}
.badge h1 {
    font-size: 20px;

}
.badge span{
    font-size: 12px
}
}


@media (min-width:576px) and (max-width:767.98px){
    .navbar{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.logo img{
    width: 80px;
}
.nav-links {
    gap: 20px;
}
.nav-links a{
    font-size: 10px;
}
.social-icons {
    gap: 10px;
}
.social-icons a img {
    width: 20px;
    height: 20px;
}
.hero {
    position: relative;
    width: 320px;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    flex-wrap: wrap;
}
.hero-image {
    width: auto;
    height: auto;
}
.hero-content {
    padding-left: 0px;
    width: 277px;
}
.small-text {
    font-size: 8px;
}
.hero-content h1 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0px;
    width: 277px;
}
.desc {
    color: #FFFFFFA1;
    line-height: 15px;
    font-size: 8px;
    padding-top: 0px;
    width:277px;
    padding-left: 0px;
}
.hero-buttons {
    display: flex;
    gap:5px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFFA1;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 8px;
    line-height: 0px;
    font-weight: 400;

}
.btn.primary {
  background: #958576;
  border: none;
}
.badge {
    bottom: 0px;
    left: 0px;
}
.stats {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.stats h3 {
    font-size: 20px;
}
.stats p {
    color: #FFFFFFA1;
    font-size: 10px;
    padding-top: 27px;
    line-height: 20px;
}
.stats img{
    height: 110px;
}
.stats .box{
    height: auto;
    margin-left: 5px;
}
.services {
    display: flex;
    width: 320px;
    padding: 0px;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
}
.services h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
    width: 277px;
}
.services .small {
    width: 277px;
    padding-top: 0px;
}
.services .small p {
    font-size: 10px;
    line-height: 15px;
}
.service-cards {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: #FFFFFF0A;
    border-radius: 12px;
    text-align: left;
    transition: 0.3s;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.card p{
    margin-bottom: 30px;
}
.card h3{
    margin-left: 20px;
}
.footer-container {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1FR);
    gap: 20px;
    border-bottom: 2px solid #FFFFFF26;
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #FFFFFF6B;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.badge {
    bottom: 300px;
    left: 100px;
    padding: 4px 8px;
}
.badge h1 {
    font-size: 20px;

}
.badge span{
    font-size: 12px
}
}


@media(max-width:575.98px){
.navbar{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.logo img{
    width: 80px;
}
.nav-links {
    gap: 20px;
}
.nav-links a{
    font-size: 10px;
}
.social-icons {
    gap: 10px;
}
.social-icons a img {
    width: 20px;
    height: 20px;
}
.hero {
    position: relative;
    width: 320px;
    display: flex;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    flex-wrap: wrap;
}
.hero-image {
    width: auto;
    height: auto;
}
.hero-content {
    padding-left: 0px;
    width: 277px;
}
.small-text {
    font-size: 8px;
}
.hero-content h1 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0px;
    width: 277px;
}
.badge {
    bottom: 300px;
    left: 100px;
    padding: 4px 8px;
}
.badge h1 {
    font-size: 20px;

}
.badge span{
    font-size: 12px
}
.desc {
    color: #FFFFFFA1;
    line-height: 15px;
    font-size: 8px;
    padding-top: 0px;
    width:277px;
    padding-left: 0px;
}
.hero-buttons {
    display: flex;
    gap:5px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFFA1;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 8px;
    line-height: 0px;
    font-weight: 400;

}
.btn.primary {
  background: #958576;
  border: none;
}
.stats {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.stats h3 {
    font-size: 20px;
}
.stats p {
    color: #FFFFFFA1;
    font-size: 10px;
    padding-top: 27px;
    line-height: 20px;
}
.stats img{
    height: 110px;
}
.stats .box{
    height: auto;
    margin-left: 5px;
}
.services {
    display: flex;
    width: 320px;
    padding: 0px;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
}
.services h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
    width: 277px;
}
.services .small {
    width: 277px;
    padding-top: 0px;
}
.services .small p {
    font-size: 10px;
    line-height: 15px;
}
.service-cards {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: #FFFFFF0A;
    border-radius: 12px;
    text-align: left;
    transition: 0.3s;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}
.card p{
    margin-bottom: 30px;
}
.card h3{
    margin-left: 20px;
}
.footer-container {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1FR);
    gap: 20px;
    border-bottom: 2px solid #FFFFFF26;
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #FFFFFF6B;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
}