* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "Montserrat", sans-serif;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
    max-height: 39px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 99px;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFFA1;
  font-weight: 400;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ffffff;
}
.social-icons{
    height: 25px;
    display: flex;
    gap: 40px;
}

.social-icons a img{
    width: 25px;
    height: 25px;
}

.hero {
  position: relative;
  width: 1520px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  padding: 75px 20px 0px 20px;
  flex-wrap: wrap;
}

.hero-image {
  width: 611px;
  height: 846px;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}

.badge {
  position: absolute;
  bottom: 370px;
  left: 570px;
  background:#FFFFFF0F;
  padding: 27px 32px;
  border-radius: 20px;
}
.badge h1{
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-style: italic;
}

.badge span {
  font-size:16px;
  color: #FFFFFFA1;
  line-height: 30px;
}

.hero-content {
  flex: 1;
  padding-left: 89px;
}

.small-text {
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 4px;
  font-style: italic;
  padding-top: 30px;
  font-weight: 500;
}

.hero-content h1 {
  font-size: 80px;
  line-height: 107px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 33px;
}


.desc {
  color: #FFFFFFA1;
  line-height: 30px;
  font-size: 16px;
  padding-top: 54px;
  width: 685px;
  padding-left: 147px;
}
.hero-buttons{
  display: flex;
  padding-top: 51px;
  gap: 46px;
  padding-left: 147px;

}

.hero-buttons .btn {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #FFFFFFA1;
  padding: 15px 26px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}


.btn.primary {
  background: #958576;
  border: none;
}

.stats {
  display: flex;
  gap: 80px;
  padding-top: 74px;

}

.stats h3 {
  font-size: 48px;
  color: #ffffff;
  line-height: auto;
  font-weight: 500;
}
.stats p{
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  padding-top: 27px;
}
.stats .box{
  width: 146px;
  height: 146px;
}

.services {
  display: flex;
  width: 1520px;
  padding-top: 143px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 87px;
  margin: 0 auto;
}

.services h2 {
  font-size: 80px;
  line-height: 107px;
  font-weight: 500;
  color: #ffffff;
  width: 939px;
}
.services p{
  padding: 0px;
}

.service-desc {
  color: #FFFFFFA1;

}

.service-cards {
  display: flex;
  padding: 74px 20px 0px 20px;
  gap: 39px;
  justify-content: center;
}
.services .small{
    width: 473px;
    padding-top: 141px;

}
.services .small p{
  font-size: 16px;
  line-height: 30px;
}

.card {
  background: #FFFFFF0A;
  border-radius: 12px;
  text-align: left;
  transition: 0.3s;
  width: 351px;
  height: 381px;
  padding-top: 36px;
  padding-left: 44px;
}

.card:hover {
  transform: translateY(-5px);
}

.dot{
  display: flex;
  width: 69px;
  height: 69px;

}

.card h3{
  width: 161px;
  height: 68px;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 33px;
}

.card p {
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  padding-top: 37px;
  width: 263px;
  margin-bottom: 71px;
}

.card a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}


.footer-container {
  max-width: 1520px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1FR);
  gap: 40px;
  border-bottom: 2px solid #FFFFFF26;
  padding-bottom: 100px;
  padding-top: 100px;
  border-top: 1px solid #FFFFFF6B;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;

}

.footer-brand .logo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.dots {
  color: #b39e7a;
  font-weight: bold;
}

.tagline {
  margin-bottom: 75px;
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  width: 250px;
  margin-top: 34px;
}

.website-link {
  color: #FFFFFFA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer-contact h3,
.footer-newsletter h3 {
  font-size: 20px;
  margin-bottom: 34px;
  color: #ffffff;
  font-weight: 500;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
  font-size: 16px;
}
.contact-item span{
  color: #FFFFFFA1;
  font-size: 16px;
}

.contact-item a {
  color: #FFFFFFA1;
  transition: color 0.3s;
  text-decoration: none;
  font-size: 16px;
}

.contact-item a:hover {
  color: #b39e7a;
}

.footer-team p {
  color: #FFFFFFA1;
  line-height:30px;
  font-size: 16px;
}
.footer-team .icon{
  display: flex;
  gap: 20px;
}
.footer-team .icon img{
  height: 50px;
  margin-bottom: 30px;

}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #FFFFFFA1;
  font-size: 16px;
}

.newsletter-form input {
  background-color: #FFFFFF0A;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  color: #FFFFFFA1;
  font-size: 16px;
}
.footer-newsletter p{
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;

}

.newsletter-form input::placeholder {
  color: #FFFFFFA1;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.newsletter-form button {
  background-color: #958576;
  color: #FFFFFFA1;
  border: none;
  padding: 18px 34px;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s;
  align-self: flex-start;
  line-height: 100%;
}

.footer-bottom {
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #FFFFFFA1;
  flex-wrap: wrap;
  padding: 80px 20px;
  line-height: 30px;
  font-weight: 500;
}
.footer-bottom a{
  text-decoration: none;
  color: #FFFFFF;
}
.footer-bottom span{
  font-size: 16px;
  font-weight: 400;
}
